/** 
* -- Optional File --
* Classes used by QuizLib, you can freely override them in your own stylesheets 
*/

.quizlib-question-title {}

.quizlib-question-answers ul {
	list-style: none;
}

.quizlib-question-warning {
	opacity: 1;
	color: rgba(var(--bs-danger-rgb))!important;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

.quizlib-correct {
	opacity: 1;
	color: rgba(var(--bs-success-rgb))!important
}

.quizlib-incorrect {
	opacity: 1;
	color: rgba(var(--bs-danger-rgb))!important;
}